@keyframes animation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:250px; top:0px;}
  50%  {background-color:blue; left:150px; top:200px;}
  75%  {background-color:green; left:0px; top:100px;}
  100% {background-color:red; left:0px; top:0px;}
}
.animation-container{
    width: 200px;
    height: 110px;
    position: relative;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.animation-container button{
    background-color: lightslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
}
.animation-container button:hover{
    background-color: green;
    transition: 0s;
    gap: 30px;
}
.menu{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 200px;
    justify-self: center;
}
.menu button{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
}
.menu button:hover{
    background-color: green;
    transition: 1s;
    gap: 30px;
}
