.box {
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px auto;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}
.box:hover{
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px auto;
    background-color: rgb(230, 220, 173);
    text-align: center;
    font-weight: bold;
    transition: 1s;
   
}
p{
    color: #333;
    text-align: justify;
    text-decoration: underline;
    line-height: 1.6;
}
.hero {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
   /* background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?w=1600');*/
   background-image: url('imagem.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    min-height: 100vh;
}
.gradiente {
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 40px auto;
    padding: 15px;
    width: 60%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 255, 123), rgb(255, 0, 200));
}